/* Root Variables for Light Theme */
/* Define color variables for the light theme. */
/*:root {
  --color-primary: #1f1e1c;
  --color-secondary: #7c7c7a;
  --color-third: #8e8d86;
  --color-fourth: #5f5a5a;
  --color-lines: #e3e1dd;
  --color-punchy: #ebd248;
  --color-background: #ffffff;
  --color-background-iphone: #ffffff;
  --color-white: #ffffff;
  --color-black: #1f1e1c;
  //
  --color-background-menu: #e3e1dd;
  --color-menu-link: #ffffff;
  --color-menu-link-hover: #7c7c7a;
  --color-menu-link-active: #ffffff;
}
*/
/* Root Variables for Dark Theme */
/* Define color variables for the dark theme.
   These variables will override the light theme variables when the data-theme attribute is set to 'dark'. */
/*html.dark {
  --color-primary: #ffffff;
  --color-secondary: #818181;
  --color-third: #C4C3C2;
  --color-fourth: #E5E4E2;
  --color-lines: #333232;
  --color-punchy: #98A2B9;
  --color-background: #1C1B1C;
  --color-background-iphone: #1C1B1C;
  --color-white: #1C1B1C;
  --color-black: #ffffff;
  //
  --color-background-menu: #333232;
  --color-menu-link: #ffffff;
  --color-menu-link-hover: #7c7c7a;
  --color-menu-link-active: #ffffff;
}

html.contact {
  --color-background:#e3e1dd;
  --color-background-iphone: #e3e1dd;
}
  */