// Breakpoints
// Define the breakpoints used for responsive design.
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
  'mobile': 850px,
  'laptop': 1440px,
);

// Import include-media for handling media queries
@import 'include-media';

// Font
// Define the primary font using a CSS variable.
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

// Import additional SCSS files
@import '_color-scheme';
@import '_layout';
@import '_font';

// Color Variables
// Map CSS variables to SCSS variables for easy reference in the stylesheet.
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-third: var(--color-third);
$color-fourth: var(--color-fourth);
$color-lines: var(--color-lines);
$color-punchy: var(--color-punchy);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-background: var(--color-background);

$color-navbar: var(--color-navbar);
$color-navbar-dark: var(--color-navbar-dark);
$color-navbar-hover: var(--color-navbar-hover, $color-secondary);
$color-navbar-line: var(--color-navbar-line, $color-background);
$color-navbar-line-dark: var(--color-navbar-line, $color-background);
$color-navbar-background: var(--color-navbar-background, $color-background);

$color-menu-background: var(--color-menu-background);
$color-menu-link: var(--color-menu-link);
$color-menu-link-hover: var(--color-menu-link-hover);
$color-menu-link-active: var(--color-menu-link-active);
$color-background-iphone: var(--color-background-iphone);

$color-block-background: var(--custom-block-background, #FCFAF5);

$cursor-image:var(--cursor-image);
$cursor-size:var(--cursor-size);
$cursor-color:var(--cursor-color);
$cursor-background:var(--cursor-background);

$cursor-image-hover:var(--cursor-image-hover);
$cursor-size-hover:var(--cursor-size-hover);
$cursor-color-hover:var(--cursor-color-hover);
$cursor-background-hover:var(--cursor-background-hover);

$cursor-image-custom:var(--cursor-image-custom);
$cursor-size-custom:var(--cursor-size-custom);
$cursor-color-custom:var(--cursor-color-custom);
$cursor-background-custom:var(--cursor-background-custom);

$select-color:var(--select-color);
$select-background:var(--select-background);

$max-card-content-width:288px;

// GSAP Easing Variables
// Define custom easing functions for GSAP animations.
$ease: cubic-bezier(1, 0, 0.3, 1);
$easeOut: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeIn: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$default: cubic-bezier(0.25, 0.1, 0.25, 1);
$easeInOut2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easePower2: cubic-bezier(0.77, 0, 0.175, 1);
$easePower3: cubic-bezier(0.645, 0.045, 0.355, 1);
$easePower4: cubic-bezier(0.77, 0, 0.175, 1);
$easeSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInPower2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInPower3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInPower4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutPower2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutPower3: cubic-bezier(0.215, 0.61, 0.355, 1);

@import 'utilities';
