---
import Page from '../layouts/Page.astro';
import BaseTitle from '../components/base/Title.vue';
import Section from '../components/LayoutSection.vue';
import Content from '../components/block/Content/Content.vue';
---

<Page title="Welcome to Sensplastik® Static Home">
	<main>	
		<BaseTitle />
		<Section hasGrid>
			<Content />
		</Section>						
	</main>
</Page>
